<%= form_with model: formulario, multipart: true do |f| %>
  <div class="form-group">
    <%= f.label :titulo, "Título" %>
    <%= f.text_field :titulo %>
  </div>
  <div class="form-group">
    <%= f.label :status, "Status" %>
    <%= f.select :status, ["aberto", "encerrado", "rascunho"], { prompt: "Selecione" } %>
  </div>
  <div class="form-group">
    <label>Criado por</label>
    <p style="padding: 8px 12px; background: #f4f6f9; border-radius: 5px;
              border: 1px solid #ccc; font-size: 14px; color: #555;">
      <%= current_usuario.nome %>
    </p>
  </div>
  <div class="form-group">
    <%= f.label :idturma, "Turma" %>
    <%= f.select :idturma, @turmas.map { |t| ["Turma #{t.codigo} — #{t.materia&.nome}", t.id] }, { prompt: "Selecione" } %>
  </div>
  <div class="form-group">
    <%= f.label :idmodelo, "Modelo" %>
    <%= f.select :idmodelo, Modelo.all.map { |m| [m.nome, m.id] }, { prompt: "Selecione" } %>
  </div>
  <div class="form-group">
    <%= f.label :instrucoes, "Instruções" %>
    <%= f.text_area :instrucoes %>
  </div>
  <div class="form-group">
    <%= f.label :destinatario, "Destinatário" %>
    <%= f.text_field :destinatario, placeholder: "alunos" %>
  </div>
  <div class="form-group">
    <%= f.label :data_inicio, "Data de Início" %>
    <%= f.date_field :data_inicio %>
  </div>
  <div class="form-group">
    <%= f.label :data_fim, "Data de Fim" %>
    <%= f.date_field :data_fim %>
  </div>
  
  <div class="form-group">
  <%= f.label :anexo_upload, "Anexar arquivo (PDF, imagem...)" %>
  <%= f.file_field :anexo_upload %>
  <% if formulario.anexo_binario_nome.present? %>
    <span style="font-size:12px; color:#888; margin-top:4px; display:block;">
      Atual: <%= formulario.anexo_binario_nome %>
    </span>
  <% end %>
</div>
  
  <!-- <div class="form-group">
    <%= f.label :arquivo, "Anexar PDF/Imagem" %>
    <%= f.file_field :arquivo %>
  </div> -->
  <%= f.submit "Salvar", class: "btn btn-success" %>
  <%= link_to "Cancelar", formularios_path, class: "btn btn-secondary" %>
<% end %> 