<div id="<%= dom_id formulario %>">
  <p>
    <strong>Titulo:</strong>
    <%= formulario.titulo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= formulario.status %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= formulario.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= formulario.data_fim %>
  </p>

  <p>
    <strong>Criado em:</strong>
    <%= formulario.criado_em %>
  </p>

  <p>
    <strong>Instrucoes:</strong>
    <%= formulario.instrucoes %>
  </p>

  <p>
    <strong>Destinatario:</strong>
    <%= formulario.destinatario %>
  </p>

  <p>
    <strong>Idusuario:</strong>
    <%= formulario.idUsuario %>
  </p>

  <p>
    <strong>Idturma:</strong>
    <%= formulario.idTurma %>
  </p>

  <p>
    <strong>Idmodelo:</strong>
    <%= formulario.idModelo %>
  </p>

</div>
