<%= form_with(model: turma) do |form| %>
  <% if turma.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
        <% turma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Turno, style: "display: block" %>
    <%= form.text_field :Turno %>
  </div>

  <div>
    <%= form.label :Horario, style: "display: block" %>
    <%= form.text_field :Horario %>
  </div>

  <div>
    <%= form.label :Codigo, style: "display: block" %>
    <%= form.number_field :Codigo %>
  </div>

  <div>
    <%= form.label :idMateria, style: "display: block" %>
    <%= form.number_field :idMateria %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
