<div id="<%= dom_id turma %>">
  <p>
    <strong>Turno:</strong>
    <%= turma.Turno %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= turma.Horario %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= turma.Codigo %>
  </p>

  <p>
    <strong>Idmateria:</strong>
    <%= turma.idMateria %>
  </p>

</div>
