<%= form_with model: departamento do |f| %>
  <div class="form-group">
    <%= f.label :nome, "Nome" %>
    <%= f.text_field :nome %>
  </div>
  <%= f.submit "Salvar", class: "btn btn-success" %>
  <%= link_to "Cancelar", departamentos_path, class: "btn btn-secondary" %>
<% end %>