<div id="<%= dom_id aluno %>">
  <p>
    <strong>Idusuario:</strong>
    <%= aluno.idUsuario %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= aluno.Matricula %>
  </p>

  <p>
    <strong>Tipo graduacao:</strong>
    <%= aluno.Tipo_graduacao %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= aluno.Semestre %>
  </p>

</div>
