<div class="detail-row"><span class="detail-label">Nome:</span>       <%= aluno.usuario&.nome %></div>
<div class="detail-row"><span class="detail-label">Email:</span>      <%= aluno.usuario&.email %></div>
<div class="detail-row"><span class="detail-label">Matrícula:</span>  <%= aluno.matricula %></div>
<div class="detail-row"><span class="detail-label">Graduação:</span>  <%= aluno.tipo_graduacao %></div>
<div class="detail-row"><span class="detail-label">Semestre:</span>   <%= aluno.semestre %></div>