<%= form_with model: aluno, url: aluno.new_record? ? alunos_path : aluno_path(aluno) do |f| %>
  <h2>Dados do Usuário</h2>
  <div class="form-group">
    <label>Nome</label>
    <input type="text" name="nome" value="<%= aluno.usuario&.nome %>">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" value="<%= aluno.usuario&.email %>">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" name="senha">
  </div>
  <div class="form-group">
    <label>Departamento</label>
    <select name="iddepartamento">
      <option value="">Selecione</option>
      <% Departamento.all.each do |d| %>
        <option value="<%= d.codigo %>"
          <%= "selected" if aluno.usuario&.iddepartamento == d.codigo %>>
          <%= d.nome %>
        </option>
      <% end %>
    </select>
  </div>

  <h2 style="margin-top: 16px;">Dados do Aluno</h2>
  <div class="form-group">
    <%= f.label :matricula, "Matrícula" %>
    <%= f.text_field :matricula %>
  </div>
  <div class="form-group">
    <%= f.label :tipo_graduacao, "Tipo de Graduação" %>
    <%= f.select :tipo_graduacao, ["Licenciatura", "Bacharelado"], { prompt: "Selecione" } %>
  </div>
  <div class="form-group">
    <%= f.label :semestre, "Semestre" %>
    <%= f.text_field :semestre, placeholder: "2026/1" %>
  </div>

  <%= f.submit "Salvar", class: "btn btn-success" %>
  <%= link_to "Cancelar", alunos_path, class: "btn btn-secondary" %>
<% end %>