<%= form_with model: questao do |f| %>
  <div class="form-group">
    <%= f.label :enunciado, "Enunciado" %>
    <%= f.text_area :enunciado %>
  </div>
  <div class="form-group">
    <%= f.label :versao, "Versão" %>
    <%= f.text_field :versao, placeholder: "Ex: 1.0" %>
  </div>
  <div class="form-group">
    <%= f.label :status, "Status" %>
    <%= f.select :status, ["ativo", "inativo"], { prompt: "Selecione" } %>
  </div>
  <%= f.submit "Salvar", class: "btn btn-success" %>
  <%= link_to "Cancelar", questaos_path, class: "btn btn-secondary" %>
<% end %>