<div id="<%= dom_id questao %>">
  <p>
    <strong>Enunciado:</strong>
    <%= questao.Enunciado %>
  </p>

  <p>
    <strong>Versao:</strong>
    <%= questao.Versao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= questao.Status %>
  </p>

  <p>
    <strong>Criado em:</strong>
    <%= questao.Criado_em %>
  </p>

  <p>
    <strong>Atualizado em:</strong>
    <%= questao.Atualizado_em %>
  </p>

</div>
