<%= form_with model: professor, url: professor.new_record? ? professors_path : professor_path(professor) do |f| %>
  <h2>Dados do Usuário</h2>
  <div class="form-group">
    <label>Nome</label>
    <input type="text" name="usuario[nome]" value="<%= professor.usuario&.nome %>">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="usuario[email]" value="<%= professor.usuario&.email %>">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" name="usuario[senha]">
  </div>
  <div class="form-group">
    <label>Departamento</label>
    <select name="usuario[iddepartamento]">
      <option value="">Selecione</option>
      <% Departamento.all.each do |d| %>
        <option value="<%= d.codigo %>"
          <%= "selected" if professor.usuario&.iddepartamento == d.codigo %>>
          <%= d.nome %>
        </option>
      <% end %>
    </select>
  </div>

  <h2 style="margin-top: 16px;">Dados do Professor</h2>
  <div class="form-group">
    <%= f.label :dt_contratacao, "Data de Contratação" %>
    <%= f.date_field :dt_contratacao %>
  </div>

  <%= f.submit "Salvar", class: "btn btn-success" %>
  <%= link_to "Cancelar", professors_path, class: "btn btn-secondary" %>
<% end %>