<div id="<%= dom_id modelo %>">
  <p>
    <strong>Nome:</strong>
    <%= modelo.Nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= modelo.Descricao %>
  </p>

  <p>
    <strong>Versao:</strong>
    <%= modelo.Versao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= modelo.Status %>
  </p>

  <p>
    <strong>Criado em:</strong>
    <%= modelo.Criado_em %>
  </p>

  <p>
    <strong>Atualizado em:</strong>
    <%= modelo.Atualizado_em %>
  </p>

  <p>
    <strong>Idusuario:</strong>
    <%= modelo.idUsuario %>
  </p>

</div>
