<%= form_with model: materium do |f| %>
  <div class="form-group">
    <%= f.label :nome, "Nome" %>
    <%= f.text_field :nome %>
  </div>
  <div class="form-group">
    <%= f.label :codigo, "Código" %>
    <%= f.text_field :codigo %>
  </div>
  <div class="form-group">
    <%= f.label :semestre, "Semestre" %>
    <%= f.text_field :semestre, placeholder: "Ex: 2026/1" %>
  </div>
  <div class="form-group">
    <%= f.label :iddepartamento, "Departamento" %>
    <%= f.select :iddepartamento, Departamento.all.map { |d| [d.nome, d.codigo] }, { prompt: "Selecione" } %>
  </div>
  <%= f.submit "Salvar", class: "btn btn-success" %>
  <%= link_to "Cancelar", materia_path, class: "btn btn-secondary" %>
<% end %>