<div id="<%= dom_id materium %>">
  <p>
    <strong>Nome:</strong>
    <%= materium.Nome %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= materium.Codigo %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= materium.Semestre %>
  </p>

  <p>
    <strong>Iddepartamento:</strong>
    <%= materium.idDepartamento %>
  </p>

</div>
