<%= form_with model: respostum do |f| %>
  <div class="form-group">
    <%= f.label :idaluno, "Aluno" %>
    <%= f.select :idaluno,
        Aluno.includes(:usuario).all.map { |a| [a.usuario&.nome, a.idusuario] },
        { prompt: "Selecione" } %>
  </div>
  <div class="form-group">
    <%= f.label :idformulario, "Formulário" %>
    <%= f.select :idformulario, Formulario.all.map { |f| [f.titulo, f.id] }, { prompt: "Selecione" } %>
  </div>
  <div class="form-group">
    <%= f.label :idquestao, "Questão" %>
    <%= f.select :idquestao, Questao.all.map { |q| [truncate(q.enunciado, length: 60), q.id] }, { prompt: "Selecione" } %>
  </div>
  <div class="form-group">
    <%= f.label :conteudo, "Resposta" %>
    <%= f.text_area :conteudo %>
  </div>
  <%= f.submit "Salvar", class: "btn btn-success" %>
  <%= link_to "Cancelar", resposta_path, class: "btn btn-secondary" %>
<% end %>