<div id="<%= dom_id respostum %>">
  <p>
    <strong>Conteudo:</strong>
    <%= respostum.conteudo %>
  </p>

  <p>
    <strong>Respondido em:</strong>
    <%= respostum.respondido_em %>
  </p>

  <p>
    <strong>Idaluno:</strong>
    <%= respostum.idAluno %>
  </p>

  <p>
    <strong>Idformulario:</strong>
    <%= respostum.idFormulario %>
  </p>

  <p>
    <strong>Idquestao:</strong>
    <%= respostum.idQuestao %>
  </p>

</div>
